.podcast-search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  
  .podcast-search-result-count {
    margin-right: 10px;
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .podcast-search-input {
    
  }
